/* General body styles */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4dce0;
    color: #333;
    position: relative; /* Ensure positioning context */
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.navbar-left {
    display: flex;
}

.navbar-left a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.2s ease-out;
}

.navbar-left a img {
    margin-right: 5px;
    width: 50px; /* Adjust the width of the icon */
    height: auto; /* Maintain aspect ratio */
}

.navbar-left a:hover {
    transform: translateY(-3px);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.navbar-right .nav-link {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    padding: 10px;
    transition: transform 0.2s ease-out;
}

.navbar-right .nav-link img {
    margin-right: 5px;
    width: 50px; /* Adjust the width of the icon */
    height: auto; /* Maintain aspect ratio */
}

.navbar-right .nav-link:hover {
    transform: translateY(-3px);
}

/* New styles for active nav link */
.nav-link.active {
    background-color: #d4dce0; /* Highlight the selected option */
    border-radius: 5px;
}

/* Form container */
.task-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form elements */
.task-form .form-group {
    margin-bottom: 20px;
}

.task-form .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.task-form .form-group input[type="text"],
.task-form .form-group textarea,
.task-form .form-group input[type="date"],
.task-form .form-group input[type="time"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
}

.task-form .form-group input:focus,
.task-form .form-group textarea:focus,
.task-form .form-group input[type="date"]:focus,
.task-form .form-group input[type="time"]:focus {
    border-color: #333;
    outline: none;
}

/* Submit button */
.task-form .btn-submit {
    text-align: center;
    width: 25%;
    padding: 12px;
    background: linear-gradient(45deg, #bbd8e6, #8ec8e6);
    color: rgb(98, 98, 98);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.task-form .btn-submit:hover {
    background: linear-gradient(45deg, #75a1b7, #5d96b2);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
