/* static/css/index.css */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4dce0;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 80%;
    max-width: 1000px;
  
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width:50%;
    max-width: none;
    height: auto;
    border-radius: 10px 0 0 10px;
}

.form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container::before {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%;
    width: 3px;
    background-color: #929292;
    margin-left: -50px; /* Adjust to center the line */
}

h2 {
    text-align: center;
    color: #555;
    font-size: 24px;
    margin-bottom: 20px;
}

h4 {
    text-align: center;
    color: #e21919;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: 20px;
}

form {
    width: 100%;
    text-align: center;
}

form div {
    margin-bottom: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: #555;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.1);
}

form button {
    text-align: center;
    width: 80%;
    padding: 12px;
    background: linear-gradient(45deg, #bbd8e6, #8ec8e6);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form button:hover {
    background: linear-gradient(45deg, #75a1b7, #5d96b2);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.message {
    font-size: 0.9em;
    display: block;
    margin-top: 5px;
}

.message.error {
    color: red;
}

.message.success {
    color: green;
}

.form-container a {
    margin-left: 400px; /* Adjust spacing as needed */
    color: #007bff;
    text-decoration:underline;
    font-size: 20px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Stack elements vertically */
        margin: 10px; /* Adjust margin for smaller screens */
    }
    
    .image-container img {
        border-radius: 10px 10px 0 0; /* Round top corners */
    }

    .form-container {
        padding: 20px;
    }
    .form-container a{
        color: #007bff;
        text-decoration: underline;
        font-size: 20px;
        margin: 10px auto; 
    }
    .container::before {
        display: none; /* Hide separator line on smaller screens */
    }

    form button {
        width: 150px; /* Auto width for button on smaller screens */
    }
}
