{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}"><img src="{% static 'image/home.png' %}" alt="Home Icon"> Home</a>
            <a href="/tasks/" class="nav-link {% if request.path == '/tasks/' %}active{% endif %}"><img src="{% static 'image/task.png' %}" alt="Tasks Icon"> Tasks</a>
            <a href="/createtask/" class="nav-link {% if request.path == '/createtask/' %}active{% endif %}"><img src="{% static 'image/create.png' %}" alt="Create Task Icon"> Create Task</a>
            <a href="/notifications/" class="nav-link {% if request.path == '/notifications/' %}active{% endif %}"><img src="{% static 'image/notification.gif' %}" alt="Notifications Icon"> Notifications</a>
        </div>
        <div class="navbar-right">
            <a href="/logout/" class="nav-link {% if request.path == '/logout/' %}active{% endif %}"><img src="{% static 'image/logout.png' %}" alt="Logout Icon"> Logout</a>
        </div>
    </div>

    <div class="username-card">
        <span class="welcome">Hello  </span><span class="username">{{name}}...</span>
    </div>
</body>
</html>
